* {
    text-align: center;
}

body  {
    background-image: url("https://i.pinimg.com/originals/45/8d/41/458d41eb0b063e5139ff6a145366eb83.jpg");
    background-size: auto;
    background-repeat: repeat;
}

.photodesc {
    background: rgba(255, 255, 255, 0.6);
    display: inline-block;
}

.bio {
    background: rgba(255, 255, 255, 0.6);
    text-align: justify;
    margin-left: 300px;
    margin-right: 300px;
}

ol {
    background:rgba(255, 255, 255, 0.6);
    display: inline-block;
    text-align: start;
}

li {
    background:rgba(255, 255, 255, 0.6);
    text-align: left;
}

.dope {
    background: rgba(255, 255, 255, 0.6);
    display: inline;
    font-size: 20px;
}

.tablecenter {
    background: rgba(255, 255, 255, 0.6);
    margin-left: auto;
    margin-right: auto;
}